:root {
  /* COLORES */
  --color-primario: #f21a05;
  --color-secundario: #f16f3e;
  --color-fondo: #fffaf4;
  --color-texto: #1e1c1c;

  /* TIPOGRAFÍA */
  --fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ESTILOS GENERALES */
body { 
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
  margin: 0;
}